*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

main{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../images/Background.jpg);
}

.parent{
  position: relative;
  width: 440px;
  height: 336px;
  background-color: white;
  margin-bottom: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 352px;
  height: 226px;
  background-color: white;
}

.content img, h5, input{
  margin-bottom: 16px;
  font-weight: 400;
  line-height: 20px;
}

.content h2{
  margin-bottom: 15px;
  font-weight: 500;
}

input[type=email] {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  padding: 5px 5px;
  font-size: 15px;
}

input[type=email]:focus{
  outline: none;
}

.content button{
  position: absolute;
  right: 0;
  width: 108px;
  height: 32px;
  background-color: #0067B8;
  color: white;
  border: none;
  cursor: pointer;
}

.content button:hover{
background-color:#005da6;
}

.content button:focus{
outline: none
}

a{
  color: #0068b8;
  text-decoration: none;
}

a:hover{
  border-bottom: 1px solid grey;
  color: grey;
}

.options{
  background-color: white;
  width: 440px;
  height: 48px;
  display: flex;
  align-items: center;
  padding-left: 38px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.options img{
  height: 32px;
}

.options h4{
  line-height: 16px;
  padding: 0 12px;
  text-align: left;
  font-weight: 400;
}

.options:hover{
  background-color: #e5e5e5;
}

.footer-div{
  position: absolute;
  bottom: 0;
  right: 0;
}

.footer-div div{
  width:300px;
  height: 28px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  line-height: 28px;
}

.footer-div a{
  font-size: 12px;
  margin: 0 8px;
  color: #000;
}

.warning{
  font-weight: 400;
  font-size: 15px;
  color: red;
  margin-bottom: 10px;
}
