*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

main{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../images/Background.jpg);
}

.wrapper{
width: 488px;
overflow: hidden;
display: flex;
flex-direction: row;
justify-content: space-between;
}

/* PARENT 1 */

.parent1{
  position: relative;
  width: auto;
  height: auto;
  background-color: white;
  padding: 44px;
  margin-bottom: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease-in;
}

.parent1 img, h5, input{
  margin-bottom: 16px;
  font-weight: 400;
  line-height: 20px;
}

.parent1 h2{
  font-weight: 500;
  margin-bottom: 12px;
}


input[type=email] {
  width: 400px;
  height: 36px;
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  padding: 5px 5px 5px 0;
  font-size: 15px;
}

input[type=email]:focus{
  outline: none;
}

.security-key-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.parent1 button{
  position: absolute;
  right: 44px;
  bottom: 52px;
  width: 108px;
  height: 32px;
  padding: 4px 12px;
  background-color: #0067B8;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.parent1 button:hover{
background-color:#005da6;
}

.parent1 button:focus{
outline: none
}

.options{
  background-color: white;
  width: 488px;
  height: 48px;
  display: flex;
  align-items: center;
  padding-left: 38px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.options:hover{
  background-color: #e5e5e5;
}

.options img{
  height: 32px;
}

.options h4{
  line-height: 16px;
  padding: 0 12px;
  text-align: left;
  font-weight: 400;
}

/* PARENT 2 */

.parent2{
  position: relative;
  width: auto;
  height: auto;
  background-color: white;
  padding: 44px;
  margin-bottom: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease-in;
}

.chosen-mail-div{
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.arrow-img:hover{
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 999px;
  cursor: pointer;
}

.chosen-mail{
  color: #1b1b1b;
  font-size: 15px;
  line-height: 24px;
  margin-top: 12px;
}

.parent2 img, h5, input{
  margin-bottom: 16px;
  font-weight: 400;
  line-height: 20px;
}

.parent2 h2{
  font-weight: 500;
  margin-bottom: 12px;
}

.parent2 button{
  position: absolute;
  right: 44px;
  bottom: 52px;
  width: 108px;
  height: 32px;
  background-color: #0067B8;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.parent2 button:hover{
background-color:#005da6;
}

.parent2 button:focus{
outline: none
}

.checkbox{
  display: flex;
  align-items: center;
  justify-content:flex-start;
}

.checkbox input{
  height: 20px;
  width: 20px;
}
.checkbox h5{
  font-size: 15px;
  margin-left: 12px;
}

a{
  color: #0068b8;
  text-decoration: none;
}

a:hover{
  border-bottom: 1px solid grey;
  color: grey;
}

/* FOOTER */

.footer-div{
  position: absolute;
  bottom: 0;
  right: 0;
}

.footer-div div{
  width:300px;
  height: 28px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  line-height: 28px;
}

.footer-div a{
  font-size: 12px;
  margin: 0 8px;
  color: #000;
}

.error-msg{
  font-weight: 400;
  font-size: 16px;
  color: red;
  margin: 12px 0;
  line-height: 1.5;
}


@media screen and (max-width: 660px){

  main{
    background: none;
    justify-content: flex-start;
  }

  .parent1{
    box-shadow: none;
  }

  .options{
    box-shadow: none;
    border: 1px solid #747474;
    max-width: 400px;
  }

  .parent2{
    box-shadow: none;
  }

  .footer-div{
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .footer-div div{
    width:300px;
    height: 28px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    line-height: 28px;
  }

  .footer-div a{
    font-size: 12px;
    margin: 0 8px;
    color: #747474;
  }



}
